.myButton {
-webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 11px;
  background: #333;
  padding: 5px 13px 5px 13px;
  text-decoration: none;
}

.myButton:hover {
  background: #383;
  text-decoration: none;
}

.myButtonTwo {
-webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 11px;
  background: #333;
  padding: 5px 13px 5px 13px;
  text-decoration: none;
}

.myButtonTwo:hover {
  background: #383;
  text-decoration: none;
}