<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/security
             http://www.springframework.org/schema/security/spring-security.xsd
             http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans.xsd
             http://www.springframework.org/schema/context
             http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <http pattern="/emp/jsp/css/**" security="none"/>
    <http auto-config="true">
        <intercept-url pattern="/jsp/login.jsp*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/**" access="ROLE_USER"/>
        <form-login login-page="/jsp/login.jsp"
                    default-target-url="/jsp/index.jsp"
                    authentication-failure-url="/login.htm?error"/>
        <logout logout-success-url="/login.htm?logout"/>

    </http>


    <!-- For my test-purposes -->
    <!--authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="admin" password="admin" authorities="ROLE_ADMIN" />
                <user name="user" password="user" authorities="ROLE_USER" />
            </user-service>
        </authentication-provider>
    </authentication-manager-->


    <authentication-manager>
        <authentication-provider user-service-ref="employeeDetailsService">
            <password-encoder hash="md5"/>
        </authentication-provider>
    </authentication-manager>

    <!--beans:bean id="userDetailsService" class="pl.radek.dvd.service.EmployeeDetailsService"/-->
    <context:component-scan base-package="pl.radek.dvd.service, pl.radek.dvd.logic, pl.radek.dvd.controller" />
</beans:beans>